<div class="bg-gray-800 flex items-center justify-center h-screen ">
  <div class="text-center mt-10">
    <div class="mb-4">
      <h1 class="text-2xl font-bold text-gray-100">Counter App</h1>
      <p class="text-2xl font-bold text-gray-100">{{count$|async}}</p>
    </div>

    <div class="flex justify-center space-x-4">
      <button id="increment" (click)="increment()"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Increment</button>
      <button id="decrement" (click)="decrement()"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Decrement</button>
      <button id="reset" (click)="reset()"
        class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Reset</button>
    </div>
  </div>
</div>